<div style="width:500px">
	<table class="table table-striped">
	  <tr>
	  	<td>USD/Btc BUY</td>
	  	<td>USD/Btc SELL</td>

	  	<td>USD/Virxurex BUY</td>


	  </tr>
	  <tr>
	  	<td><%= @ticker_hash["buy"] %></td>
	  	<td><%= @ticker_hash["sell"] %></td>
	  </tr>
	</table>
</div>